services:
  postgres:
    image: postgres:18
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres

  redis:
    image: redis:alpine
    restart: unless-stopped
    container_name: redis_container
    environment:
      - REDIS_PASSWORD=password
    ports:
      - "6379:6379"