services:
  postgres:
    image: postgres:18
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres

  redis:
    image: redis:alpine
    restart: unless-stopped
    container_name: redis_container
    environment:
      REDIS_PASSWORD: password
    ports:
      - "6379:6379"

  mongo:
    image: mongo
    container_name: mongo_container
    environment:
      MONGO_INITDB_DATABASE: mongodb
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_ROOT_USERNAME: mongo_user
    ports:
      - "27017:27017"