spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379
      password: password
      database: 0
      timeout: 5000ms

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG