apiVersion: v1
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      - job_name: 'eureka'
        metrics_path: /actuator/prometheus
        # Scrape Eureka itself to discover new services.
        eureka_sd_configs:
          - server: http://eureka-0.eureka:8761/eureka
        relabel_configs:
          - source_labels: [ __meta_eureka_app_instance_metadata_prometheus_scrape ]
            action: keep
            regex: true
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    app: prometheus
  name: prometheus-config
