apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: config-server
  name: config-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka:8761/eureka/
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: kafka:29092
          image: config-server:1.0
          name: config-server-container
          ports:
            - containerPort: 8888
              protocol: TCP
      restartPolicy: Always
