apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka
  labels:
    app: eureka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka
  template:
    metadata:
      labels:
        app: eureka
    spec:
      containers:
        - name: eureka
          image: eureka:1.0
          ports:
            - containerPort: 8761
          volumeMounts:
            - name: eureka-config
              mountPath: /config

      volumes:
        - name: eureka-config
          configMap:
            name: eureka-config