apiVersion: v1
kind: ConfigMap
metadata:
  name: eureka-config
  labels:
    app: eureka
data:
  application.yaml: |
    server:
      port: 8761

    spring:
      application:
        name: eureka-server

    eureka:
      instance:
        hostname: ${POD_NAME}.eureka
        prefer-ip-address: true
      client:
        register-with-eureka: true
        fetch-registry: true
        service-url:
          defaultZone: http://eureka-0.eureka:8761/eureka/,http://eureka-1.eureka:8761/eureka/